body {
	background-color: rgb(32, 30, 30);
	padding: 1rem 3rem 1rem 3rem;
}

@font-face {
	font-family: marcelle;
	src: url(/fonts/Marcsc___.woff);
}

h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: lighter;
	color: white;
}

nav {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
	font-size: 1.5rem;
	padding: 1rem;
}

a {
	color: white;
	text-decoration: none;
}

li a:hover {
	color: rgb(255, 129, 107);
}

.active {
	color: rgb(255, 129, 107);
}

/* Index page */

.grunge-type {
	font-family: marcelle, 'Gill Sans', 'Trebuchet MS', sans-serif;
	font-size: 5rem;
	margin-top: -1.5rem;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3rem;
}

.card {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: black;
	background: white;
	padding: 20%;
}

.card:hover {
	background-color: rgb(255, 248, 182);
}

.beer-image {
	width: 30%;
	margin-bottom: 2rem;
}

.name {
	font-size: 2rem;
	font-weight: 200;
}

.tagline {
	font-style: italic;
	font-weight: lighter;
}

.abv {
	display: inline-block;
	font-weight: normal;
	background-color: rgb(253, 230, 16);
	padding: 0.4rem;
}

/* details page */

.back {
	position: relative;
	bottom: 3rem;
	right: 2rem;
	color: black;
}

.back:hover {
	color: tomato;
}

.details {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 0.2rem;
	background-color: white;
	padding: 5rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.details-image {
	margin-top: -6.5rem;
	max-width: 10rem;
	grid-column: 1/2;
	grid-row: 2/8;
}

.details-name {
	color: black;
	font-size: 4rem;
}

.details-tagname {
	font-style: italic;
	font-weight: lighter;
	margin-top: -2.5rem;
}

.details-name,
.details-tagname,
.details-description,
.details-pairing,
.details-tips {
	max-width: 40rem;
}

.details-tips {
	font-size: 1.5rem;
	font-style: italic;
}

/* Contact page */

.contact-title {
	text-align: center;
}

.contact {
	background-color: white;
	width: 50%;
	margin: auto;
	padding: 3rem;
}

label {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
	display: block;
	margin-top: 0.5rem;
	margin-bottom: 0.3rem;
}

.form-error {
	display: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: tomato;
	margin-bottom: 1rem;
}

.success {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2rem;
	margin: auto;
	padding-bottom: 1rem;
}

/* Loader */

.loader {
	border: 10px solid white;
	border-left: 10px solid rgb(255, 129, 107);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin: auto;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
